[submodule "dotfiles/vim/pack/plugins/start/vim-sensible"]
	path = dotfiles/vim/pack/plugins/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "dotfiles/vim/pack/plugins/start/vim-surround"]
	path = dotfiles/vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "dotfiles/vim/pack/plugins/start/vim-commentary"]
	path = dotfiles/vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
