# ignore the .vim folder, except include Vundle
.vim/*
!.vim/bundle
.vim/bundle/*
!.vim/bundle/Vundle.vim
!.vim/bundle/Vundle.vim/*

# ignore elpa
.emacs.d/elpa
.emacs.d/auto-save-list/

# ignore emacs saves

